trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

steps:


- task: AzureCLI@1
  inputs:
    ConnectedServiceNameARM: 'MPN - Some Subscription Name'
    scriptLocation: 'inlineScript'
    inlineScript: 'az deployment create --name Palo-Testing --location australiaeast --template-file ./Palo-Alto/master.json'